.list-group-item{
	padding: 3px 7px;
	font-size: 0.9em;
}
.list-group{
	margin-bottom: 0;
}
.attack-name::first-letter{
	text-transform: uppercase;
}
.attack-name{
	display: block;
}
.attack-click{
	cursor: pointer;
}
.attack-click:hover{
	border-color: #bce8f1; 
	background-color: #d9edf7;
}
img{
	max-width: 100px;
    display: block;
    margin: auto;
}
.title{
	padding:0 9px; 
}
h3{
	margin-bottom: 2px;
}
.progress{
	height: 10px;
	background-color: red
}
.progress-bar{
	line-height: 10px;
}
.container-image{
	height: 120px;
}
.warning{
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.danger{
	background-color: #f2dede;
	border-color: #ebccd1;
}