.list-group-item{
	padding: 3px 7px;
	font-size: 0.9em;
}
.list-group{
	margin-bottom: 0;
}
.attack-name::first-letter{
	text-transform: uppercase;
}
.attack-name{
	display: block;
}
img{
	max-width: 100px;
    display: block;
    margin: auto;
}
.title{
	padding:0 9px; 
}
.thumbnail{
	cursor: pointer;
}
.thumbnail:hover{
	border-color: #bce8f1; 
	background-color: #d9edf7;
}
.container-image{
	height: 120px;
}