.page-header{
	position: relative;
}
.help{
	position: absolute;
	right: 7px;
    top: 2px;
	cursor: pointer;
	font-size: 30px;
}
.page-header a{
    color: black;
}
.page-header a:hover{
	text-decoration: none;
}